$margin-left: 10px;
$button-width: 150px;
$input-width: 95.5%;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  label {
    display: block;
    font-weight: 600;
    margin-left: $margin-left;
  }

  input {
    height: 25px;
    margin: 15px 0;
  }

  .input {
    width: $input-width;
    margin-left: $margin-left;
  }

  .input-first,
  .input-second {
    width: 46%;
    margin-left: $margin-left;
  }

  .input-inrow {
    margin-left: $margin-left;
  }

  .input-submit {
    position: relative;
    height: 35px;
    width: $button-width;
    top: 30px;
    margin-right: 25px;
  }

  select {
    margin-top: 15px;
    margin-left: $margin-left;
    width: 97.5%;
  }

  form {
    background-color: #37373b;
    width: 570px;
    height: 580px;
  }

  section.section-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

input.inputSearch {
  height: 30px;
  width: 264px;
  margin-left: 315px;
}

.table-employee {
  width: 1200px;
  border-collapse: collapse;
  background-color: #1c1c1e;

  th,
  td {
    padding: 5px;
  }

  thead {
    background-color: #37373b;
    line-height: 2.2;

    tr {
      border-bottom: solid #4d4b4b;
    }

    th.thSortBy:hover {
      cursor: pointer;
      background-color: #757272;
    }
  }

  th {
    color: #eeeef0;
    text-align: center;
  }

  tbody {
    tr {
      line-height: 3;
    }
  }

  tr.employee:nth-child(even) {
    background-color: #37373b;
  }

  tr.employee:hover {
    background-color: #757272;
    cursor: pointer;
  }

  tr.employee-detail {
    background-color: #757272;
  }
}

.button-add {
  position: relative;
  height: 35px;
  width: $button-width;
  margin-bottom: 20px;
}

.button-back {
  position: relative;
  height: 35px;
  width: $button-width;
  top: 30px;
}

div.langSelector {
  display: flex;
  position: absolute;
  width: 300px;
  align-items: center;
  margin-top: -45px;
  margin-left: 920px;

  label {
    margin-right: 10px;
  }

  select {
    margin-top: -1px;
    height: 25px;
    width: 120px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    margin-left: 25px;
  }

  main {
    font-size: 10px;
  }

  .inputSearch,
  .langSelector {
    margin-top: 0;
  }

  .table-employee {
    width: 100%;
  }

  .inputSearch {
    justify-content: center;
    display: block;
    width: 144px !important;
    height: 40px !important;
    margin-left: 120px !important;
  }

  .button-add {
    height: 50px !important;
    margin-left: 120px !important;
  }
  div.langSelector {
    position: static;
    width: 160px;
    align-items: center;
    margin-top: 0px;
    margin-left: 112px;
    margin-bottom: 20px !important;
  }
  .main-manage {
    background-color: red;
  }
}
