table.tb {
  width: 1200px;
  border-collapse: collapse;
  background-color: #514d4d;

  th,
  td {
    //border: solid 1px #777;
    padding: 5px;
  }

  th {
    color: white;
    text-align: left;
  }

  th {
  }

  tr:nth-child(even) {
    background-color: #343030;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
