main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table.tb {
  width: 1200px;
  border-collapse: collapse;
  background-color: #1c1c1e th, td {
    //border: solid 1px #777;
    padding: 5px;
  }
  thead {
    background-color: #37373b;
    line-height: 2.2;
    tr {
      border-bottom: solid #4d4b4b;
    }
  }

  th {
    color: #eeeef0;
    text-align: center;
  }

  tbody {
    tr {
      line-height: 3;
    }
  }
  tr.trEmployee:nth-child(even) {
    background-color: #37373b;
  }

  tr.trEmployee:hover {
    background-color: #757272;
    cursor: pointer;
  }
  tr.employeeDetail {
    background-color: #757272;
  }
}

button {
  height: 35px;
  width: 150px;
}
.add {
  margin-bottom: 35px;
}

.back {
  margin-top: 30px;
}

input {
  width: 50%;
}

.ipSearch {
  margin-left: 12%;
  height: 32px;
  text-align: center;
}

label {
}

form {
  width: 50%;
  border: 3px solid #757272;
  margin-top: 25px;
  padding-bottom: 25px;

  label {
    font-size: 20px;
  }

  input {
    width: 225px;
    height: 25px;
    margin-top: 10px;
  }

  input.ipSecond {
    margin-left: 10px;
  }
  h1 {
    text-align: center;
  }
}
